

.cointaner {
    
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}

.myHeader {
    
    height: 50px;
    width: 900px;
    background-color: blue;
    
}

.myAside {
    
    width: 250px;
    float: left;
    height: 70%;

    background-color: grey;

}

.kontener {
    width: 650px;
    height: 70%;
    float: left;
    background-color: bisque;
}

.myFooter {
    height: 20px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    padding-left: 20px;
}

.tytuł {
    text-align: center;
}

h1 {
    
    text-align : center;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    padding: 50px, 100px;
    
}
p {
    padding: 0 50px;
}

input {
    margin: 10px 250px;
}

#myButton

