.downContainer {
    width: 100%;
    height: 10%;
    font-size: 25px ;
    text-align: center;
    
}

#variant {
    
    background-color: plum;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    padding: 15px;
    line-height: 250%;
    visibility: hidden;
}

.Test {
    float: left;
    width: 100px;
    height: 60px;
}

#logout {
    float: left;
    margin-top: -330px;
    margin-left: 10;
    color: blue;
    font-size: 20px;;
    text-decoration: none;
}