#loginContainer{
    text-align: center;
}

#topLogin {
    width: 100%;
    height: 25%;
    
}

.mrgRight {
    float: left;
    padding-right: 20px;
}

#logoBig {
    margin-top: 40px;
}

#userContainer {
    font-size: 30px;
    padding: 20px;
}

.loginFont{
    
    width: auto;
    font-size: 20px;
    margin: 10px;
}

#repeatLabel {
    visibility: hidden;
}

#repeatInput {
    visibility: hidden;
}

#registerButton {
    visibility: hidden;
}

#layoutOption {
    float: left;
    width: 50%;
}

#cardsOption {
    float: left;
    width: 50%;
}

