.centerContainer {
    width: 100%;
    height: 65%;
    text-align: center;
}

#upperHalfTable{
    
    width: 100%;
    height: 60%;
    text-align: center;
    
}

#lowerHalfTable{
    
    width: 100%;
    height: 40%;
/*    border: 1px solid green;*/
}

#leftKornerContent {
    width: 33%;
    height: 100%;
    float: right;
    text-align: center;
}


#cardsContent {
    width: 30%;
    height: 100%;
    float: right;
/*    border: 1px solid black;*/
    text-align: center;
    padding-left: 50px;
}

#buttonsContent {
    width: 32%;
    height: 100%;
    float: right;
    text-align: center;
/*    border: 1px dashed  green;*/
    
}

#variantSelect{
    font-size: 30px;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

#myChips {
    
    width: 100px;
    font-size: 70px;
    font-weight: bold;
    color: lawngreen;
    float: left;
    margin-top: -10px;
    margin-left: 10px;
    
}

#betSize {
    float: right;
    color: black;
    width: 350px;
    margin-right: 20px;
    margin-top: -10px;
}
.menuButton {
    width: 120px;
    height: 60px;
    margin-top: -10px;
  
}

.card {

    width: 115px;
    height: 168px;
    float: left;
    margin-top: 50px;
    margin-left: -50px;
    border-radius: 5px;
    border: 1px solid black;
    visibility: hidden;
}

.mt-30 {
    margin-top: 0;
}




