body {
    background-color: papayawhip;
}
.container {
    width: 1206px;
    height: 867px;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
}

#mainContainer {
/*    background-image: url(../gfx/layout_blue.jpg);*/
    background-repeat: no-repeat;
}

.myButton {
    
    border-radius: 10px;
    background-color: red;
    font-size: 25px;
    font-weight: bold;
    color: white;
    
}

.disabledButton:[disabled] {
    background-color: firebrick;
    
}

.card {
    visibility: "hidden";
}

table, th, td {
    margin-top: -40px;
    font-size: 20px;
    color: black;
    background-color: cornsilk;
    border: 1px solid black;
/*    border-collapse: collapse;*/
}

caption {
    font-size: 25px;
    color: azure;
}