.upContainer {
    
    width: 100%;
    height: 25%;
    
}

#leftChips {
    border-radius: 50%;
    margin: 10px;
    padding-right: 40px;
}

#upLeft {
    
    width: 20%;
    height: 200px;
    float: left;
}


#upCenter {
    
    width: 60%;
    height: 200px;
    float: left;
    text-align: center;
    margin: 0 auto;
}

#changeButton{
    
    width: 205px;
    height: 50px;
    margin-top: -10px;
}

#information {
    font-size: 40px;
    color: blanchedalmond;
    visibility: hidden;
}

#result {
    margin-top: -10px;
    width: 340px;
    height: 120px;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: red;
    visibility: hidden;
}

#upRight {
    
    width: 20%;
    height: 200px;
    float: left;
}