<div class="container" id="loginContainer" >
    <header id="topLogin">
        <img src="gfx/left_chips.jpg" id="leftChips" class="mrgRight"/>
        <img src="./gfx/logoLogin.jpg" id="logoBig" class="mrgRight"/>
        <img src="gfx/right_chips.png" id="rightChips" class="mrgRight" style="margin-left: 13px;"/>
    </header>
    <section id="userContainer">
        <label>Login : &nbsp;&nbsp;&nbsp;</label>
        <input type="text" class="loginFont"  placeholder="Podaj nazwę użytkownika..." ng-model="name"/>
        <br>
        <label>Hasło : &nbsp;&nbsp;&nbsp;</label>
        <input type="password" class="loginFont" placeholder="Podaj hasło..." ng-model="password"/>
        <br>
        <div>
            <label id="repeatLabel">Powtórz : </label>
            <input type="password" class="loginFont" id="repeatInput" placeholder="Powtórz hasło..." ng-model="repeatPass"/>
            <br>
            <button type="submit" class="loginFont" id="registerButton" ng-model="repeat" ng-click="tryRegister()">Zarejestruj</button>
            <button class="loginFont" id="loginButton" ng-model="login" ng-click="tryLogin()">Zaloguj się</button>
            <span class="loginFont">Zarejestruj się: <input type="checkbox" id="register"></span>
        </div>
    </section>
    <hr>
    <aside id="layoutOption">
        <p style="font-size: 30px;">Wybierz stół do gry</p>
<!--        <form>-->
          <input type="radio" name="layout" ng-model="lauoutS" value="blue" ng-checked="true"> Niebieski
          <input type="radio" name="layout" ng-model="lauoutS" value="green" > Zielony
          <input type="radio" name="layout" ng-model="lauoutS" value="green180" > Zielony180
<!--        </form>-->
        <p>&nbsp;</p>
        <div ng-switch="lauoutS">
            <div ng-switch-default="blue">
                <img src="gfx/cards/layout_blue.jpg"/>
            </div>
            <div ng-switch-when="green">
                <img src="gfx/cards/layout_green.jpg"/>
            </div>
            <div ng-switch-when="green180">
                <img src="gfx/cards/layout_green180.jpg"/>
            </div>
        </div>
    </aside>
    <aside id="cardsOption">
        <p style="font-size: 30px;">Wybierz karty do gry</p>
        <form>
          <input type="radio" name="cardBack"  ng-model="cardBackS" value="black" ng-checked="true"> Czarne
          <input type="radio" name="cardBack" ng-model="cardBackS" value="red" > Czerwone
        </form>
        <p>&nbsp;</p>
        <div ng-switch="cardBackS">
            <div ng-switch-default="blue">
                <img src="gfx/cards/back_black.jpg"/>
            </div>
            <div ng-switch-when="red">
                <img src="gfx/cards/back_red.jpg"/>
            </div>
        </div>
    </aside>
</div>
    
    
    
    
    
    
    
    