<div class="container" id="mainContainer">
            
    <section class="upContainer">
        <aside id="upLeft"><img src="gfx/left_chips.jpg" id="leftChips"/></aside>
        <div id="upCenter">
            <img src="gfx/logoMain.jpg"/>
            <p><img src="gfx/dealer.jpg" style="border-radius: 5px;"/></p>
            <p><button type="submit" class="myButton" id="changeButton" ng-click="change()">WYMIEŃ</button></p>
            <div id="information">Stawka: <span style="color:lawngreen">${{ betsize }}</span>
                | Do wygrania: <span style="color:lawngreen">${{ multiplier }}</span>
            </div>
            <button id="result" ng-model="result" ng-click="startNewRound()">&nbsp;{{ result }}&nbsp;
                <span style="font-size: 20px;"><br>Kliknij aby grać dalej</span>
            </button>
        </div>
        <aside id="upRight"><img src="gfx/right_chips.png" id="rightChips"/></aside>
    </section>
    <section class="centerContainer">
        <div id="upperHalfTable">

        </div>
        <div id="lowerHalfTable">
            <aside id="buttonsContent">
                <select id="variantSelect" ng-model="variantSel" >
                    <option value="" disabled selected>Wybierz układ dealera</option>
                    <option ng-repeat="x in myVariants" value= "{{ x.value }}" >{{ x.text }}</option>
                </select>
                <p>
                    <button type="submit" class="menuButton myButton" id="startButton" ng-click="start()">START</button>
                    <button type="submit" class="menuButton myButton" id="stopButton" ng-click="stop()">STOP</button>
                    <button type="submit" class="menuButton myButton " id="betButton" ng-click="setBet()" >${{ betsize }}</button>
                </p>
                <input type="range" id="betSize" list="tickmarks" min="5" max="100" ng-model="betsize">
                <label id="myChips" ng-model="actualChips">${{ actualChips }}</label>
                    <datalist id="tickmarks">
                          <option value="5" label="5%">
                          <option value="10">
                          <option value="20">
                          <option value="30">
                          <option value="40">
                          <option value="50" label="50%">
                          <option value="60">
                          <option value="70">
                          <option value="80">
                          <option value="90">
                          <option value="100" label="100%">
                    </datalist>
            </aside>
            <header id="cardsContent">
                <div class="card" id="card1" ng-click="moveCard()"></div>
                <div class="card" id="card2" ng-click="moveCard()"></div>
                <div class="card" id="card3" ng-click="moveCard()"></div>
                <div class="card" id="card4" ng-click="moveCard()"></div>
                <div class="card" id="card5" ng-click="moveCard()"></div>
            </header>
            <aside id="leftKornerContent">
                <a id="logout" href="#!/">Wyloguj się</a>
                {{ test }}
                <p>&nbsp;</p>
                <table style="width:80%">
                    <caption>Historia gry</caption>
                    <tr>
                        <th>ID</th>
                        <th>Układ</th>
                        <th>Wynik</th>
                    </tr>
                    <tr ng-repeat="x in variantHistory">
                        <td>{{ x.nr }}</td>
                        <td>{{ x.text }}</td>
                        <td>{{ x.result }}</td>
                    </tr>
                </table>
            </aside> 
        </div>       
    </section>
    <footer class="downContainer">
        <label id="variant" ng-model="actualVariant">Twój układ: {{ actualVariant[0] }}</label>
    </footer>
    <script src="./js/app.js"></script>
</div>