<!DOCTYPE html>
<html ng-app="converter">
    <head>
        <title>Konwerter temperatur</title>
        <meta charset="utf-8">
        <style>
            body {
               text-align: center;
                font-size: 40px;
            }
            
            input {
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div id="container" ng-controller="temperature" style="margin: 100px auto;">
            Celcjusz: <input type="text" ng-model="cel" ng-keyup="computeC()" />
            Kelvin: <input type="text" ng-model="kel"  ng-keyup="computeK()" />
            Fehrenhait: <input type="text" ng-model="fah" ng-keyup="computeF()" />
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        
        <script>
            
            var apppp = angular.module('converter', []);
            
            apppp.controller('temperature', function($scope) {
                $scope.computeC = function() {
                    $scope.kel = 273.15 + $scope.cel * 1;
                    $scope.fah = $scope.cel * 1.8 + 32;
                }
                $scope.computeK = function() {
                    $scope.cel = $scope.kel - 273.15;
                    $scope.fah = $scope.kel * 1.8 - 459.67;
                }
                $scope.computeF = function() {
                    $scope.cel = ($scope.fah - 32) / 1.8;
                    $scope.kel = ($scope.fah * 1 + 459.67) * 5 / 9;
                }
            });
        </script>
    </body>
</html>