h1 {
    font-size: 50px;
}

.container {
    width: 40%;
    margin: 50px auto;
    border: 2px solid blue;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

select {
    font-size: 20px;
}

input{
    font-size: 20px;
}

#exchange{
    font-size: 30px;
}

#wynik{
    margin: 0 20px;
}