<!DOCTYPE html>
<html ng-app="firstApp">
    <head>
        <title>stronka z angularem</title>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <style>
            body {
                text-align: center;
                font-size: 20px;
            }
        </style>
    </head>
    
    <body>
        <div ng-controller="test">
            <input ng-model="name"/>
            {{name}}
        </div>
        <script>
           var app = angular.module("firstApp" , []); 
            app.controller("test", function($scope){
                $scope.name = "bnbn";
            });
        </script>   
    </body>
    
</html>